In [1]:
import requests
import json
import datetime as dt
import time
import requests
import regex as re
import collections
!pip install plotly
import plotly.express as px
import plotly.graph_objects as go
from collections import Counter
!pip install termcolor
from termcolor import colored


!pip install wordcloud
import os
from os import path
from wordcloud import WordCloud

import datetime as dt
import time
import requests
import regex as re

import scipy.stats as stats
import numpy as np
import pandas as pd

import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline


from sklearn.pipeline import Pipeline
from sklearn.linear_model import LinearRegression,LogisticRegression
from sklearn import linear_model
from sklearn.model_selection import train_test_split,cross_val_score,GridSearchCV
from sklearn.preprocessing import StandardScaler,PolynomialFeatures
from sklearn.metrics import r2_score,mean_squared_error,confusion_matrix,accuracy_score


import nltk
from nltk.tokenize import RegexpTokenizer
from nltk.stem import WordNetLemmatizer
from nltk.stem.porter import PorterStemmer
from sklearn.feature_extraction.text import CountVectorizer,HashingVectorizer,TfidfVectorizer
from sklearn.naive_bayes import MultinomialNB
from nltk.stem import PorterStemmer,WordNetLemmatizer
from nltk.tokenize import sent_tokenize, word_tokenize
from nltk.corpus import stopwords
from nltk.corpus import words
from nltk.tokenize import WordPunctTokenizer

Requirement already satisfied: plotly in /opt/anaconda3/lib/python3.7/site-packages (4.5.0)
Requirement already satisfied: retrying>=1.3.3 in /opt/anaconda3/lib/python3.7/site-packages (from plotly) (1.3.3)
Requirement already satisfied: six in /opt/anaconda3/lib/python3.7/site-packages (from plotly) (1.12.0)
Requirement already satisfied: termcolor in /opt/anaconda3/lib/python3.7/site-packages (1.1.0)
Requirement already satisfied: wordcloud in /opt/anaconda3/lib/python3.7/site-packages (1.6.0)
Requirement already satisfied: pillow in /opt/anaconda3/lib/python3.7/site-packages (from wordcloud) (6.2.0)
Requirement already satisfied: matplotlib in /opt/anaconda3/lib/python3.7/site-packages (from wordcloud) (3.1.2)
Requirement already satisfied: numpy>=1.6.1 in /opt/anaconda3/lib/python3.7/site-packages (from wordcloud) (1.17.4)
Requirement already satisfied: kiwisolver>=1.0.1 in /opt/anaconda3/lib/python3.7/site-packages (from matplotlib->wordcloud) (1.1.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /opt/anaconda3/lib/python3.7/site-packages (from matplotlib->wordcloud) (2.4.2)
Requirement already satisfied: python-dateutil>=2.1 in /opt/anaconda3/lib/python3.7/site-packages (from matplotlib->wordcloud) (2.8.0)
Requirement already satisfied: cycler>=0.10 in /opt/anaconda3/lib/python3.7/site-packages (from matplotlib->wordcloud) (0.10.0)
Requirement already satisfied: setuptools in /opt/anaconda3/lib/python3.7/site-packages (from kiwisolver>=1.0.1->matplotlib->wordcloud) (41.4.0)
Requirement already satisfied: six>=1.5 in /opt/anaconda3/lib/python3.7/site-packages (from python-dateutil>=2.1->matplotlib->wordcloud) (1.12.0)

# Data Gathering <a id='datagathering'></a>

### LA and NYC Reddit Scraping

In [4]:
#this is to get the submissions, all the posts on a subreddit, comments are what is in a post
#size = 500 gives us 500 posts
#we are predicting the subreddit posts are coming from, the limit is 500 so we get 5 iterations to get a good size.

In [5]:
def query_pushshift(subreddit, kind='submission', skip=30, times=5, 
                    #30 day increment, times = # of times collecting from increment
                    subfield = ['title', 'selftext', 'subreddit', 'created_utc', 'author', 'num_comments', 
                                'score', 'is_self'],
                    comfields = ['body', 'score', 'created_utc']):
    stem = "https://api.pushshift.io/reddit/search/{}/?subreddit={}&size=500".format(kind, subreddit)
    mylist = [] #30 day list of 500 posts, 30,60,120,150,180 (5 iterations)
    for x in range(1, times + 1):
        URL = "{}&after={}d".format(stem, skip * x)
        print(URL)
        response = requests.get(URL) #scraping that returns text shape as dictionary
        assert response.status_code == 200 #checks status code to make sure not rejected
        mine = response.json()['data'] #takes that text and creates dataframe
        df = pd.DataFrame.from_dict(mine) 
        mylist.append(df)
        time.sleep(2) #dont get booted
    full = pd.concat(mylist, sort=False)
    if kind == "submission":
        full = full[subfield]
        full = full.drop_duplicates(subset = 'title')
        full = full.loc[full['is_self'] == True]
    def get_date(created):
        return dt.date.fromtimestamp(created)
    _timestamp = full["created_utc"].apply(get_date)
    full['timestamp'] = _timestamp
    print(full.shape)
    return full

In [6]:
nyc_query = query_pushshift('nyc')

https://api.pushshift.io/reddit/search/submission/?subreddit=nyc&size=500&after=30d
https://api.pushshift.io/reddit/search/submission/?subreddit=nyc&size=500&after=60d
https://api.pushshift.io/reddit/search/submission/?subreddit=nyc&size=500&after=90d
https://api.pushshift.io/reddit/search/submission/?subreddit=nyc&size=500&after=120d
https://api.pushshift.io/reddit/search/submission/?subreddit=nyc&size=500&after=150d
(837, 9)

In [7]:
la_query = query_pushshift('LosAngeles')

https://api.pushshift.io/reddit/search/submission/?subreddit=LosAngeles&size=500&after=30d
https://api.pushshift.io/reddit/search/submission/?subreddit=LosAngeles&size=500&after=60d
https://api.pushshift.io/reddit/search/submission/?subreddit=LosAngeles&size=500&after=90d
https://api.pushshift.io/reddit/search/submission/?subreddit=LosAngeles&size=500&after=120d
https://api.pushshift.io/reddit/search/submission/?subreddit=LosAngeles&size=500&after=150d
(1021, 9)

In [8]:
nyc_query.head()

,title,selftext,subreddit,created_utc,author,num_comments,score,is_self,timestamp
0,Looking For A Good Time Tonight?,[removed],nyc,1578117034,Asians4life1,6,0,True,2020-01-04
2,Help pls! Where can I find a comedy merch stor...,"Hey everyone living in New York,\n\nis there a...",nyc,1578131446,djlazybird,16,0,True,2020-01-04
10,Finding Cannabis in NYC,[removed],nyc,1578149173,panopticsjpp,39,0,True,2020-01-04
11,What do I do if both parking meters on my side...,Do I go around the block and print a ticket fr...,nyc,1578149783,bigmoe_7,8,1,True,2020-01-04
16,Upper West Side breakfast/bagel recommendations,"I’ll be spending next weekend in NYC, and stay...",nyc,1578154649,lowndest,22,0,True,2020-01-04

In [9]:
la_query.head()

,title,selftext,subreddit,created_utc,author,num_comments,score,is_self,timestamp
1,? about water bill in apartment,[removed],LosAngeles,1578114247,shitty_bang_bang,2,1,True,2020-01-04
2,Equinox Westwood Member,[removed],LosAngeles,1578116126,costcoquestions,0,1,True,2020-01-04
5,Phone mugging on PICO/HAUSER bus stop,[removed],LosAngeles,1578120596,jiggyelephante,2,1,True,2020-01-04
6,Solo trip to LA from Miami? What to see and do?,,LosAngeles,1578120955,shitheadboot1122,8,0,True,2020-01-04
7,Petition to ban VoteTurnoutNoBurnout,NaN,LosAngeles,1578121860,[deleted],2,1,True,2020-01-04

## Preliminary EDA<a id='prelimeda'></a>

In [10]:
print('The size of our Los Angeles query dataframe is ' + str(la_query.shape))
print('The size of our NYC query dataframe is ' + str(nyc_query.shape))

The size of our Los Angeles query dataframe is (1021, 9)
The size of our NYC query dataframe is (837, 9)

**Comment**: Dataset is uneven, with more datapoints for LA than NYC, therefore our LA model will be better trained as it has more data to work with.

In [12]:
print(colored('LA Query Data Types' '\n', attrs=['bold']))
print(la_query.dtypes)

print(colored('\n''NYC Query Data Types' '\n', attrs=['bold']))
print(nyc_query.dtypes)

LA Query Data Types

title           object
selftext        object
subreddit       object
created_utc      int64
author          object
num_comments     int64
score            int64
is_self           bool
timestamp       object
dtype: object

NYC Query Data Types

title           object
selftext        object
subreddit       object
created_utc      int64
author          object
num_comments     int64
score            int64
is_self           bool
timestamp       object
dtype: object

In [13]:
print(colored('NYC Query Null Counts' + '\n', attrs = ['bold']))
print(str(nyc_query.isnull().sum()))
print(colored('\n' + 'LA Query Null Counts' '\n', attrs = ['bold']))
print(str(la_query.isnull().sum()))

NYC Query Null Counts

title           0
selftext        0
subreddit       0
created_utc     0
author          0
num_comments    0
score           0
is_self         0
timestamp       0
dtype: int64

LA Query Null Counts

title            0
selftext        10
subreddit        0
created_utc      0
author           0
num_comments     0
score            0
is_self          0
timestamp        0
dtype: int64

# Data Cleaning

In [14]:
def preprocess(string):
    
    #We want letters only
    string = re.sub("[^a-zA-Z]", " ", string) 
    
    #removing hyperlinks
    string = re.sub(r'http\S+', '', string)
    string = re.sub(r'www\S+', '', string)
   
    #converts words to lowercase and splits.
    string = string.lower().split()
    
    #Instantiates lemmatizer and stems words.
    lemmatizer = WordNetLemmatizer()
    string = [lemmatizer.lemmatize(x) for x in string]
    
    #Creating variable form default english stopword list and our own custom stop list.
    stop = set(stopwords.words('english'))
    custom_stop = ['la', 'los' ,'angeles', 'nyc', 'ny', 'ca', 'california' ,'cali', 'york', 'new', 'anyone', 'best', 'city',
                   'place', 'get', 'know', 'looking', 'people', 'good', 'time', 'wa', 'like', 'question', 'need', 'th', 'area',
                   'day', 'today', 'go', 'one', 'find', 'ha']
                   
    
    #removing stopwords from both the default english set, and our custom stop word list
    string = [x for x in string if not x in stop]
    string = [w for w in string if not w in custom_stop]
    

    #joining words separated by a space and return
    return(" ".join(string))

In [15]:
#applying our cleaning function to columns which can be our features. 
nyc_query['title'] = nyc_query['title'].apply(preprocess)
nyc_query['selftext'] = nyc_query['title'].apply(preprocess)
la_query['title'] = la_query['title'].apply(preprocess)
la_query['selftext'] = la_query['title'].apply(preprocess)

In [16]:
#dropping columns that will not contribute to our model
nyc_query.drop(['created_utc', 'author', 'num_comments', 'score', 'is_self', 'timestamp'], axis=1, inplace=True)
la_query.drop(['created_utc', 'author', 'num_comments', 'score', 'is_self', 'timestamp'], axis=1, inplace=True)

## Merging Dataframes

In [20]:
#creating a list of the dataframes we are merging and then merging
to_merge = [la_query, nyc_query]
nyc_la = pd.concat(to_merge)

#converting to csv then printing .head to make sure columns are as expected 
nyc_query.to_csv('./Project_Files/Datasets/nyc_query.csv', index = False)
la_query.to_csv('./Project_Files/Datasets/la_query.csv', index = False)
nyc_la.to_csv('./Project_Files/Datasets/nyc_la.csv', index = False)
nyc_la.head()

,title,selftext,subreddit
1,water bill apartment,water bill apartment,LosAngeles
2,equinox westwood member,equinox westwood member,LosAngeles
5,phone mugging pico hauser bus stop,phone mugging pico hauser bus stop,LosAngeles
6,solo trip miami see,solo trip miami see,LosAngeles
7,petition ban voteturnoutnoburnout,petition ban voteturnoutnoburnout,LosAngeles

In [18]:
#Value counts are as expected
nyc_la.groupby('subreddit').count()

            title  selftext
subreddit
LosAngeles   1021      1021
nyc           837       837